.container {
    position: relative;
    margin: auto;
    height: 700px;
    width: 620px;
}

.container-top {
    width: 100%;
    height: 150px;
}

.container-top .img {
    background: url(https://icdn.dantri.com.vn/thumb_w/640/2020/07/21/nhung-hot-girl-viet-chuan-bi-buoc-vao-ky-thi-tot-nghiep-thpt-quoc-gia-nam-naydocx-1595346639604.jpeg);
    position: absolute;
    height: 115px;
    width: 115px;
    top: 25px;
    left: 70px;
    background-size: 100%;
    border: solid #FDBE06 3px;
}

.container-top .container-name {
    position: absolute;
    top: 55px;
    left: 220px;
}

.container-top .container-name .name {
    margin-left: -2px;
    font-weight: 100px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-top .bottom-name {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 3px;
    font-size: 7px;
}

.container-left {
    position: absolute;
    top: 157px;
    left: 40px;
    width: 180px;
    height: 490px;
}

.title {
    padding-bottom: 4px;
    letter-spacing: 1px;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    text-align: center;
}

.gach {
    height: 3px;
    width: 100%;
    background-color: #FDBE06;
}

.contact .info {
    margin-left: 29px;
    margin-top: 7px;
    font-size: 9px;
    line-height: 17px;
    margin-right: 32px;
}

.contact .info i {
    margin-right: 5px;
    font-size: 9px;
}

.contact .info .dia-chi {
    position: absolute;
    line-height: normal;
    top: 64px;
    left: 44px;
    right: 15px;
}

.education {
    margin-top: 15px;
}

.info {
    line-height: 11px;
    margin-top: 7px;
    font-size: 7px;
    margin-left: 28px;
}

.education .info .info1 {
    text-transform: uppercase;
    font-weight: bold;
    color: #8B8C8B;
    letter-spacing: 1px;
}

.education .info .info2 {
    font-weight: bold;
    letter-spacing: 0.5px;
    color: black;
}

.awards {
    margin-top: 10px;
}

.awards .info {
    letter-spacing: 1px;
}

.awards .info1 {
    text-transform: uppercase;
    font-family: Arial Black;
}

.awards .info2 {
    font-style: italic;
    font-weight: bold;
    text-transform: capitalize;
}

.awards .info3 {
    color: #8B8C8B;
}

.awards .info1top {
    margin-top: 7px;
}

.references {
    margin-top: 10px;
}

.container-right {
    position: absolute;
    right: 10px;
    top: 157px;
    width: 330px;
    height: 490px;
}

.title-right {
    text-align: left;
}

.info-right {
    position: relative;
    letter-spacing: 0.2px;
    line-height: 10px;
    margin-top: 8px;
    margin-right: 60px;
    font-size: 8px;
}

.inter {
    margin-top: 16px;
}

.content1 {
    text-transform: uppercase;
    font-family: Arial Black;
    letter-spacing: 0.7px;
}

.content2 {
    text-transform: capitalize;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.content3top {
    margin-top: 7px;
}

.content3 {
    letter-spacing: 0.7px;
    line-height: 12px;
}

.content1top {
    margin-top: 5px;
}

.language {
    margin-top: 7px;
}

.language .name {
    text-transform: uppercase;
    font-family: Arial Black;
    line-height: 12px;
    letter-spacing: 0.5px;
}

.process {
    position: relative;
    margin-bottom: 7px;
}

.tong {
    height: 5px;
    width: 70px;
    background-color: #CCCDCC;
}

.have {
    position: absolute;
    top: 0px;
    height: 5px;
    width: 70px;
    background-color: #0AC5E4;
}

.r {
    position: absolute;
    top: 3px;
    left: 120px;
}